{% extends 'base.html' %}
{% load static %}

{% block section %}

<link rel="stylesheet" href="{% static 'assets/css/create-package.css' %}">

<style>
  /* prevent text going under eye icon */
  .password-wrapper input {
    padding-right: 45px;
  }
</style>

<section class="create-package-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">

        <div class="card package-card">
          <div class="card-header">
            <h1 class="fw-bold text-light">Change Password</h1>
          </div>

          <div class="card-body p-4 p-md-5">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <!-- New Password -->
            
                <div class="mb-3">
                <label for="name" class="form-label fw-bold">New Password</label>
                <!-- <input type="text" id="name" name="name" class="form-control" placeholder="Enter movie name" required> -->
                 <div class="position-relative">
                   {{form.new_password}}

                  <i class="fa-regular fa-eye-slash position-absolute top-50 end-0 translate-middle-y pe-4"
                     style="cursor:pointer;font-size:18px;" onclick="displayPassword(this,'{{ form.new_password.id_for_label }}')">
                  </i>
                  </div>

                  
              <!-- Confirm Password -->
  
              <div class="mb-3">
                <label for="photo" class="form-label fw-bold">Confirm Password</label>
                <!-- <input type="file" id="photo" name="photo" class="form-control" required> -->
                 <div class="position-relative">
                   {{form.confirm_password}}

                  <i class="fa-regular fa-eye-slash position-absolute top-50 end-0 translate-middle-y pe-4"
                     style="cursor:pointer;font-size:18px;" onclick="displayPassword(this,'{{ form.confirm_password.id_for_label }}')">
                  </i>
                 {% if form.confirm_password.errors %}
                 <p class="text-danger small">{{form.confirm_password.errors.0}}</p>
                 {% endif %}
              </div>

              <div class="text-end mt-5">
                <button type="submit" class="submit-btn">
                  Change <i class="icon icon-ns-arrow-right ms-2"></i>
                </button>
              </div>

              {% if error %}
              <p class="text-danger text-center">{{ error }}</p>
              {% endif %}
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>
  function displayPassword(icon) {
    const input = icon.previousElementSibling;

    if (input.type === "password") {
      input.type = "text";
      icon.classList.replace("fa-eye-slash", "fa-eye");
    } else {
      input.type = "password";
      icon.classList.replace("fa-eye", "fa-eye-slash");
    }
  }
</script>

{% endblock %}
