{% extends 'base.html' %}

{% load static %}

{% block section %}

<link rel="stylesheet" href="{% static 'assets/css/create-package.css' %}">

<section class="create-package-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">

        <div class="card package-card">
          <div class="card-header">
            <h3 class="fw-bold text-light">Enter otp sent to {{user.email}}</h3>
          </div>

          <div class="card-body p-4 p-md-5">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="mb-4">
                <label class="form-label ">OTP</label>
                {{ form.otp }}
              </div>

              <div class="text-end mt-5">
                <button type="submit" class="submit-btn">
                  Verify<i class="icon icon-ns-arrow-right ms-2"></i>
                </button>
              </div>
              <!-- {% if error %}
              <p class="small" style="color: red;">{{error}}</p>
              {% endif %} -->
            </form>
            <div class="text-center">
                <p id="timer"></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<script>
    let timeLeft = parseInt('{{ remaining_time|default:0 }}');
    let timerElement = document.getElementById('timer');

    function updateTimer() {
        if (timeLeft <= 0) {
            timerElement.innerHTML = `
            <a class="btn btn-primary mt-3" href='{% url 'password-otp' %}'>Resend OTP</a>
                `;
        } else {
            let minutes = Math.floor(timeLeft / 60);
            let seconds = timeLeft % 60;
            timerElement.innerText = `Time left: ${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
            timeLeft--;
            setTimeout(updateTimer, 1000);
        }
    }

    updateTimer();
</script>

{% endblock %}
