{% extends 'base.html'%}

{% load static %}

{% block section %}

	<section id="billboard">

		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<button class="prev slick-arrow">
						<i class="icon icon-arrow-left"></i>
					</button>

					<div class="main-slider pattern-overlay">
						<div class="slider-item">
							<div class="banner-content">
								<h2 class="banner-title">Dream Explore Discover..!</h2>
								<p>From peaceful getaways to thrilling adventures, Travio brings you carefully crafted travel packages.</p>
								<div class="btn-wrap">
        							<a href="{% url 'package-list' %}" class="btn  btn-success btn-lg mt-3 px-4 rounded-pill">
            						Explore Packages
        							</a>
								</div>
							</div><!--banner-content-->
							<img src="{% static 'assets/images/banner-image.jpg'%}"
							 alt="banner"
							style="width:40%; height:40%;  object-position: top;"
							class="banner-image rounded-5">
						</div><!--slider-item-->

						<div class="slider-item">
							<div class="banner-content">
								<h2 class="banner-title">Travel Beyond Boundaries...</h2>
								<p>Travel beyond borders. Experience beyond expectations.</p>
									<div class="btn-wrap">
									    <a href="{% url 'package-list' %}" class="btn  btn-success btn-lg mt-3 px-4 rounded-pill">
            							Explore Packages
        								</a>
									</div>

							</div><!--banner-content-->
							<img src="{% static 'assets/images/travel-image.jpg'%}"
							 alt="banner"
							style="width:40%; height:40%;  object-position: top;"
							class="banner-image rounded-5">
						</div><!--slider-item-->

					</div><!--slider-->

					<button class="next slick-arrow">
						<i class="icon icon-arrow-right"></i>
					</button>

				</div>
			</div>
		</div>

	</section>

{% endblock %}